## Reading Quiz 1

Okay, now you know a bit about R, let's put that to the test. Enter your name below:

#### NAME:

### Problem 1

In the cell below, do the following

1) Assign an integer to the variable `x`

2) Assign a logical to the variable `y`

3) Assign a character to the variable `z`

In [14]:
# Assign an integer to the variable x
x<-1

# Assign a logical to the variable y
y<-TRUE

# Assign a character to the variable z
z<-'character'

### Problem 2
Run the cell below:

In [15]:
### RUN but DO NOT CHANGE CODE BELOW
stuff<-"hello world"
######

In the code cell below, write the function which will tell you what data type `stuff` is.

In [16]:
class(stuff)

[1] "character"

### Problem 3
Run the cell below

In [17]:
#### RUN but DO NOT CHANGE
## This is a vector
a<-c(1,2,3)
## This is a numerical
b<-2
## This is a logical
c<-TRUE
## This is a logical
d<-FALSE

Describe what happens if you (feel free to experiment)

1) Add `a` and `c`

2) Multiply `a` and `b`

3) multiply `b` and `d`

In [21]:
### Experiment here
a+c
a*b
b*d

[1] 2 3 4

[1] 2 4 6

[1] 0

Answer 1) 1 gets added to every entry of `a` (this is because R converts logicals into numerics by `TRUE` turns to 1 and `FALSE` turns to 0)

Answer 2) Every Element of `a` gets multiplied by `b`

Answer 3) You get 0... (see above)

### Problem 4
Run the cell below

In [22]:
### Run but DO NOT CHANGE
require(oibiostat) #This loads standard datasets, you will see this a lot
data(iris) #This loads the data from the iris data set
df<-iris #this puts the iris dataframe into the variable df

In the cell above, we loaded the famous "iris" data set into the dataframe `df`. Use `df` in to perform the following.

1) Show the first few rows of iris

In [23]:
### Write the code that shows the first few rows of iris
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

2) Show a `summary` of `df`

In [24]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

3) How many `species` of iris are there in this data set?

Answer: 3